datafactorylt/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "datafactorylt"
		},
		"DataCovid_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DataCovid'"
		},
		"AzureDataLakeStore1_properties_typeProperties_dataLakeStoreUri": {
			"type": "string",
			"defaultValue": "https://formationazurelt.azuredatalakestore.net/webhdfs/v1"
		},
		"AzureDataLakeStore1_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "544fe47f-5772-488f-81a9-fa9de607ecfa"
		},
		"AzureDataLakeStore1_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "32ad602f-d364-45c5-ab7f-b8e199af2da0"
		},
		"AzureDataLakeStore1_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "rg-BDU_EcoleDeLaData"
		},
		"DataCovid_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\Users\\lthiriat\\Documents\\Ecole de la Data\\formation azure"
		},
		"DataCovid_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "BETD\\lthiriat"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStore1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "[parameters('AzureDataLakeStore1_properties_typeProperties_dataLakeStoreUri')]",
					"tenant": "[parameters('AzureDataLakeStore1_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('AzureDataLakeStore1_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('AzureDataLakeStore1_properties_typeProperties_resourceGroupName')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataCovid')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('DataCovid_properties_typeProperties_host')]",
					"userId": "[parameters('DataCovid_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DataCovid_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dest_age')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "destination"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"folderPath": "rowdata/europe"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStore1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dest_confirmed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "destination"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"folderPath": "rowdata/johnhopkins"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStore1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dest_country')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "destination"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"folderPath": "rowdata/europe"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStore1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dest_dailysub')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "destination"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"folderPath": "rowdata/europe"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStore1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dest_death')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "destination"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"folderPath": "rowdata/johnhopkins"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStore1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dest_hospital')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "destination"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"folderPath": "rowdata/europe"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStore1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dest_recovered')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "destination"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"folderPath": "rowdata/johnhopkins"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStore1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dest_testing')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "destination"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"folderPath": "rowdata/europe"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStore1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_age')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataCovid",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "Data on the 14-day age-specific notification rate of new COVID-19 cases.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "country_code",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "age_group",
						"type": "String"
					},
					{
						"name": "new_cases",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					},
					{
						"name": "rate_14_day_per_100k",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataCovid')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_confirmed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataCovid",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "time_series_covid19_confirmed_global.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Province/State",
						"type": "String"
					},
					{
						"name": "Country/Region",
						"type": "String"
					},
					{
						"name": "Lat",
						"type": "String"
					},
					{
						"name": "Long",
						"type": "String"
					},
					{
						"name": "1/22/20",
						"type": "String"
					},
					{
						"name": "1/23/20",
						"type": "String"
					},
					{
						"name": "1/24/20",
						"type": "String"
					},
					{
						"name": "1/25/20",
						"type": "String"
					},
					{
						"name": "1/26/20",
						"type": "String"
					},
					{
						"name": "1/27/20",
						"type": "String"
					},
					{
						"name": "1/28/20",
						"type": "String"
					},
					{
						"name": "1/29/20",
						"type": "String"
					},
					{
						"name": "1/30/20",
						"type": "String"
					},
					{
						"name": "1/31/20",
						"type": "String"
					},
					{
						"name": "2/1/20",
						"type": "String"
					},
					{
						"name": "2/2/20",
						"type": "String"
					},
					{
						"name": "2/3/20",
						"type": "String"
					},
					{
						"name": "2/4/20",
						"type": "String"
					},
					{
						"name": "2/5/20",
						"type": "String"
					},
					{
						"name": "2/6/20",
						"type": "String"
					},
					{
						"name": "2/7/20",
						"type": "String"
					},
					{
						"name": "2/8/20",
						"type": "String"
					},
					{
						"name": "2/9/20",
						"type": "String"
					},
					{
						"name": "2/10/20",
						"type": "String"
					},
					{
						"name": "2/11/20",
						"type": "String"
					},
					{
						"name": "2/12/20",
						"type": "String"
					},
					{
						"name": "2/13/20",
						"type": "String"
					},
					{
						"name": "2/14/20",
						"type": "String"
					},
					{
						"name": "2/15/20",
						"type": "String"
					},
					{
						"name": "2/16/20",
						"type": "String"
					},
					{
						"name": "2/17/20",
						"type": "String"
					},
					{
						"name": "2/18/20",
						"type": "String"
					},
					{
						"name": "2/19/20",
						"type": "String"
					},
					{
						"name": "2/20/20",
						"type": "String"
					},
					{
						"name": "2/21/20",
						"type": "String"
					},
					{
						"name": "2/22/20",
						"type": "String"
					},
					{
						"name": "2/23/20",
						"type": "String"
					},
					{
						"name": "2/24/20",
						"type": "String"
					},
					{
						"name": "2/25/20",
						"type": "String"
					},
					{
						"name": "2/26/20",
						"type": "String"
					},
					{
						"name": "2/27/20",
						"type": "String"
					},
					{
						"name": "2/28/20",
						"type": "String"
					},
					{
						"name": "2/29/20",
						"type": "String"
					},
					{
						"name": "3/1/20",
						"type": "String"
					},
					{
						"name": "3/2/20",
						"type": "String"
					},
					{
						"name": "3/3/20",
						"type": "String"
					},
					{
						"name": "3/4/20",
						"type": "String"
					},
					{
						"name": "3/5/20",
						"type": "String"
					},
					{
						"name": "3/6/20",
						"type": "String"
					},
					{
						"name": "3/7/20",
						"type": "String"
					},
					{
						"name": "3/8/20",
						"type": "String"
					},
					{
						"name": "3/9/20",
						"type": "String"
					},
					{
						"name": "3/10/20",
						"type": "String"
					},
					{
						"name": "3/11/20",
						"type": "String"
					},
					{
						"name": "3/12/20",
						"type": "String"
					},
					{
						"name": "3/13/20",
						"type": "String"
					},
					{
						"name": "3/14/20",
						"type": "String"
					},
					{
						"name": "3/15/20",
						"type": "String"
					},
					{
						"name": "3/16/20",
						"type": "String"
					},
					{
						"name": "3/17/20",
						"type": "String"
					},
					{
						"name": "3/18/20",
						"type": "String"
					},
					{
						"name": "3/19/20",
						"type": "String"
					},
					{
						"name": "3/20/20",
						"type": "String"
					},
					{
						"name": "3/21/20",
						"type": "String"
					},
					{
						"name": "3/22/20",
						"type": "String"
					},
					{
						"name": "3/23/20",
						"type": "String"
					},
					{
						"name": "3/24/20",
						"type": "String"
					},
					{
						"name": "3/25/20",
						"type": "String"
					},
					{
						"name": "3/26/20",
						"type": "String"
					},
					{
						"name": "3/27/20",
						"type": "String"
					},
					{
						"name": "3/28/20",
						"type": "String"
					},
					{
						"name": "3/29/20",
						"type": "String"
					},
					{
						"name": "3/30/20",
						"type": "String"
					},
					{
						"name": "3/31/20",
						"type": "String"
					},
					{
						"name": "4/1/20",
						"type": "String"
					},
					{
						"name": "4/2/20",
						"type": "String"
					},
					{
						"name": "4/3/20",
						"type": "String"
					},
					{
						"name": "4/4/20",
						"type": "String"
					},
					{
						"name": "4/5/20",
						"type": "String"
					},
					{
						"name": "4/6/20",
						"type": "String"
					},
					{
						"name": "4/7/20",
						"type": "String"
					},
					{
						"name": "4/8/20",
						"type": "String"
					},
					{
						"name": "4/9/20",
						"type": "String"
					},
					{
						"name": "4/10/20",
						"type": "String"
					},
					{
						"name": "4/11/20",
						"type": "String"
					},
					{
						"name": "4/12/20",
						"type": "String"
					},
					{
						"name": "4/13/20",
						"type": "String"
					},
					{
						"name": "4/14/20",
						"type": "String"
					},
					{
						"name": "4/15/20",
						"type": "String"
					},
					{
						"name": "4/16/20",
						"type": "String"
					},
					{
						"name": "4/17/20",
						"type": "String"
					},
					{
						"name": "4/18/20",
						"type": "String"
					},
					{
						"name": "4/19/20",
						"type": "String"
					},
					{
						"name": "4/20/20",
						"type": "String"
					},
					{
						"name": "4/21/20",
						"type": "String"
					},
					{
						"name": "4/22/20",
						"type": "String"
					},
					{
						"name": "4/23/20",
						"type": "String"
					},
					{
						"name": "4/24/20",
						"type": "String"
					},
					{
						"name": "4/25/20",
						"type": "String"
					},
					{
						"name": "4/26/20",
						"type": "String"
					},
					{
						"name": "4/27/20",
						"type": "String"
					},
					{
						"name": "4/28/20",
						"type": "String"
					},
					{
						"name": "4/29/20",
						"type": "String"
					},
					{
						"name": "4/30/20",
						"type": "String"
					},
					{
						"name": "5/1/20",
						"type": "String"
					},
					{
						"name": "5/2/20",
						"type": "String"
					},
					{
						"name": "5/3/20",
						"type": "String"
					},
					{
						"name": "5/4/20",
						"type": "String"
					},
					{
						"name": "5/5/20",
						"type": "String"
					},
					{
						"name": "5/6/20",
						"type": "String"
					},
					{
						"name": "5/7/20",
						"type": "String"
					},
					{
						"name": "5/8/20",
						"type": "String"
					},
					{
						"name": "5/9/20",
						"type": "String"
					},
					{
						"name": "5/10/20",
						"type": "String"
					},
					{
						"name": "5/11/20",
						"type": "String"
					},
					{
						"name": "5/12/20",
						"type": "String"
					},
					{
						"name": "5/13/20",
						"type": "String"
					},
					{
						"name": "5/14/20",
						"type": "String"
					},
					{
						"name": "5/15/20",
						"type": "String"
					},
					{
						"name": "5/16/20",
						"type": "String"
					},
					{
						"name": "5/17/20",
						"type": "String"
					},
					{
						"name": "5/18/20",
						"type": "String"
					},
					{
						"name": "5/19/20",
						"type": "String"
					},
					{
						"name": "5/20/20",
						"type": "String"
					},
					{
						"name": "5/21/20",
						"type": "String"
					},
					{
						"name": "5/22/20",
						"type": "String"
					},
					{
						"name": "5/23/20",
						"type": "String"
					},
					{
						"name": "5/24/20",
						"type": "String"
					},
					{
						"name": "5/25/20",
						"type": "String"
					},
					{
						"name": "5/26/20",
						"type": "String"
					},
					{
						"name": "5/27/20",
						"type": "String"
					},
					{
						"name": "5/28/20",
						"type": "String"
					},
					{
						"name": "5/29/20",
						"type": "String"
					},
					{
						"name": "5/30/20",
						"type": "String"
					},
					{
						"name": "5/31/20",
						"type": "String"
					},
					{
						"name": "6/1/20",
						"type": "String"
					},
					{
						"name": "6/2/20",
						"type": "String"
					},
					{
						"name": "6/3/20",
						"type": "String"
					},
					{
						"name": "6/4/20",
						"type": "String"
					},
					{
						"name": "6/5/20",
						"type": "String"
					},
					{
						"name": "6/6/20",
						"type": "String"
					},
					{
						"name": "6/7/20",
						"type": "String"
					},
					{
						"name": "6/8/20",
						"type": "String"
					},
					{
						"name": "6/9/20",
						"type": "String"
					},
					{
						"name": "6/10/20",
						"type": "String"
					},
					{
						"name": "6/11/20",
						"type": "String"
					},
					{
						"name": "6/12/20",
						"type": "String"
					},
					{
						"name": "6/13/20",
						"type": "String"
					},
					{
						"name": "6/14/20",
						"type": "String"
					},
					{
						"name": "6/15/20",
						"type": "String"
					},
					{
						"name": "6/16/20",
						"type": "String"
					},
					{
						"name": "6/17/20",
						"type": "String"
					},
					{
						"name": "6/18/20",
						"type": "String"
					},
					{
						"name": "6/19/20",
						"type": "String"
					},
					{
						"name": "6/20/20",
						"type": "String"
					},
					{
						"name": "6/21/20",
						"type": "String"
					},
					{
						"name": "6/22/20",
						"type": "String"
					},
					{
						"name": "6/23/20",
						"type": "String"
					},
					{
						"name": "6/24/20",
						"type": "String"
					},
					{
						"name": "6/25/20",
						"type": "String"
					},
					{
						"name": "6/26/20",
						"type": "String"
					},
					{
						"name": "6/27/20",
						"type": "String"
					},
					{
						"name": "6/28/20",
						"type": "String"
					},
					{
						"name": "6/29/20",
						"type": "String"
					},
					{
						"name": "6/30/20",
						"type": "String"
					},
					{
						"name": "7/1/20",
						"type": "String"
					},
					{
						"name": "7/2/20",
						"type": "String"
					},
					{
						"name": "7/3/20",
						"type": "String"
					},
					{
						"name": "7/4/20",
						"type": "String"
					},
					{
						"name": "7/5/20",
						"type": "String"
					},
					{
						"name": "7/6/20",
						"type": "String"
					},
					{
						"name": "7/7/20",
						"type": "String"
					},
					{
						"name": "7/8/20",
						"type": "String"
					},
					{
						"name": "7/9/20",
						"type": "String"
					},
					{
						"name": "7/10/20",
						"type": "String"
					},
					{
						"name": "7/11/20",
						"type": "String"
					},
					{
						"name": "7/12/20",
						"type": "String"
					},
					{
						"name": "7/13/20",
						"type": "String"
					},
					{
						"name": "7/14/20",
						"type": "String"
					},
					{
						"name": "7/15/20",
						"type": "String"
					},
					{
						"name": "7/16/20",
						"type": "String"
					},
					{
						"name": "7/17/20",
						"type": "String"
					},
					{
						"name": "7/18/20",
						"type": "String"
					},
					{
						"name": "7/19/20",
						"type": "String"
					},
					{
						"name": "7/20/20",
						"type": "String"
					},
					{
						"name": "7/21/20",
						"type": "String"
					},
					{
						"name": "7/22/20",
						"type": "String"
					},
					{
						"name": "7/23/20",
						"type": "String"
					},
					{
						"name": "7/24/20",
						"type": "String"
					},
					{
						"name": "7/25/20",
						"type": "String"
					},
					{
						"name": "7/26/20",
						"type": "String"
					},
					{
						"name": "7/27/20",
						"type": "String"
					},
					{
						"name": "7/28/20",
						"type": "String"
					},
					{
						"name": "7/29/20",
						"type": "String"
					},
					{
						"name": "7/30/20",
						"type": "String"
					},
					{
						"name": "7/31/20",
						"type": "String"
					},
					{
						"name": "8/1/20",
						"type": "String"
					},
					{
						"name": "8/2/20",
						"type": "String"
					},
					{
						"name": "8/3/20",
						"type": "String"
					},
					{
						"name": "8/4/20",
						"type": "String"
					},
					{
						"name": "8/5/20",
						"type": "String"
					},
					{
						"name": "8/6/20",
						"type": "String"
					},
					{
						"name": "8/7/20",
						"type": "String"
					},
					{
						"name": "8/8/20",
						"type": "String"
					},
					{
						"name": "8/9/20",
						"type": "String"
					},
					{
						"name": "8/10/20",
						"type": "String"
					},
					{
						"name": "8/11/20",
						"type": "String"
					},
					{
						"name": "8/12/20",
						"type": "String"
					},
					{
						"name": "8/13/20",
						"type": "String"
					},
					{
						"name": "8/14/20",
						"type": "String"
					},
					{
						"name": "8/15/20",
						"type": "String"
					},
					{
						"name": "8/16/20",
						"type": "String"
					},
					{
						"name": "8/17/20",
						"type": "String"
					},
					{
						"name": "8/18/20",
						"type": "String"
					},
					{
						"name": "8/19/20",
						"type": "String"
					},
					{
						"name": "8/20/20",
						"type": "String"
					},
					{
						"name": "8/21/20",
						"type": "String"
					},
					{
						"name": "8/22/20",
						"type": "String"
					},
					{
						"name": "8/23/20",
						"type": "String"
					},
					{
						"name": "8/24/20",
						"type": "String"
					},
					{
						"name": "8/25/20",
						"type": "String"
					},
					{
						"name": "8/26/20",
						"type": "String"
					},
					{
						"name": "8/27/20",
						"type": "String"
					},
					{
						"name": "8/28/20",
						"type": "String"
					},
					{
						"name": "8/29/20",
						"type": "String"
					},
					{
						"name": "8/30/20",
						"type": "String"
					},
					{
						"name": "8/31/20",
						"type": "String"
					},
					{
						"name": "9/1/20",
						"type": "String"
					},
					{
						"name": "9/2/20",
						"type": "String"
					},
					{
						"name": "9/3/20",
						"type": "String"
					},
					{
						"name": "9/4/20",
						"type": "String"
					},
					{
						"name": "9/5/20",
						"type": "String"
					},
					{
						"name": "9/6/20",
						"type": "String"
					},
					{
						"name": "9/7/20",
						"type": "String"
					},
					{
						"name": "9/8/20",
						"type": "String"
					},
					{
						"name": "9/9/20",
						"type": "String"
					},
					{
						"name": "9/10/20",
						"type": "String"
					},
					{
						"name": "9/11/20",
						"type": "String"
					},
					{
						"name": "9/12/20",
						"type": "String"
					},
					{
						"name": "9/13/20",
						"type": "String"
					},
					{
						"name": "9/14/20",
						"type": "String"
					},
					{
						"name": "9/15/20",
						"type": "String"
					},
					{
						"name": "9/16/20",
						"type": "String"
					},
					{
						"name": "9/17/20",
						"type": "String"
					},
					{
						"name": "9/18/20",
						"type": "String"
					},
					{
						"name": "9/19/20",
						"type": "String"
					},
					{
						"name": "9/20/20",
						"type": "String"
					},
					{
						"name": "9/21/20",
						"type": "String"
					},
					{
						"name": "9/22/20",
						"type": "String"
					},
					{
						"name": "9/23/20",
						"type": "String"
					},
					{
						"name": "9/24/20",
						"type": "String"
					},
					{
						"name": "9/25/20",
						"type": "String"
					},
					{
						"name": "9/26/20",
						"type": "String"
					},
					{
						"name": "9/27/20",
						"type": "String"
					},
					{
						"name": "9/28/20",
						"type": "String"
					},
					{
						"name": "9/29/20",
						"type": "String"
					},
					{
						"name": "9/30/20",
						"type": "String"
					},
					{
						"name": "10/1/20",
						"type": "String"
					},
					{
						"name": "10/2/20",
						"type": "String"
					},
					{
						"name": "10/3/20",
						"type": "String"
					},
					{
						"name": "10/4/20",
						"type": "String"
					},
					{
						"name": "10/5/20",
						"type": "String"
					},
					{
						"name": "10/6/20",
						"type": "String"
					},
					{
						"name": "10/7/20",
						"type": "String"
					},
					{
						"name": "10/8/20",
						"type": "String"
					},
					{
						"name": "10/9/20",
						"type": "String"
					},
					{
						"name": "10/10/20",
						"type": "String"
					},
					{
						"name": "10/11/20",
						"type": "String"
					},
					{
						"name": "10/12/20",
						"type": "String"
					},
					{
						"name": "10/13/20",
						"type": "String"
					},
					{
						"name": "10/14/20",
						"type": "String"
					},
					{
						"name": "10/15/20",
						"type": "String"
					},
					{
						"name": "10/16/20",
						"type": "String"
					},
					{
						"name": "10/17/20",
						"type": "String"
					},
					{
						"name": "10/18/20",
						"type": "String"
					},
					{
						"name": "10/19/20",
						"type": "String"
					},
					{
						"name": "10/20/20",
						"type": "String"
					},
					{
						"name": "10/21/20",
						"type": "String"
					},
					{
						"name": "10/22/20",
						"type": "String"
					},
					{
						"name": "10/23/20",
						"type": "String"
					},
					{
						"name": "10/24/20",
						"type": "String"
					},
					{
						"name": "10/25/20",
						"type": "String"
					},
					{
						"name": "10/26/20",
						"type": "String"
					},
					{
						"name": "10/27/20",
						"type": "String"
					},
					{
						"name": "10/28/20",
						"type": "String"
					},
					{
						"name": "10/29/20",
						"type": "String"
					},
					{
						"name": "10/30/20",
						"type": "String"
					},
					{
						"name": "10/31/20",
						"type": "String"
					},
					{
						"name": "11/1/20",
						"type": "String"
					},
					{
						"name": "11/2/20",
						"type": "String"
					},
					{
						"name": "11/3/20",
						"type": "String"
					},
					{
						"name": "11/4/20",
						"type": "String"
					},
					{
						"name": "11/5/20",
						"type": "String"
					},
					{
						"name": "11/6/20",
						"type": "String"
					},
					{
						"name": "11/7/20",
						"type": "String"
					},
					{
						"name": "11/8/20",
						"type": "String"
					},
					{
						"name": "11/9/20",
						"type": "String"
					},
					{
						"name": "11/10/20",
						"type": "String"
					},
					{
						"name": "11/11/20",
						"type": "String"
					},
					{
						"name": "11/12/20",
						"type": "String"
					},
					{
						"name": "11/13/20",
						"type": "String"
					},
					{
						"name": "11/14/20",
						"type": "String"
					},
					{
						"name": "11/15/20",
						"type": "String"
					},
					{
						"name": "11/16/20",
						"type": "String"
					},
					{
						"name": "11/17/20",
						"type": "String"
					},
					{
						"name": "11/18/20",
						"type": "String"
					},
					{
						"name": "11/19/20",
						"type": "String"
					},
					{
						"name": "11/20/20",
						"type": "String"
					},
					{
						"name": "11/21/20",
						"type": "String"
					},
					{
						"name": "11/22/20",
						"type": "String"
					},
					{
						"name": "11/23/20",
						"type": "String"
					},
					{
						"name": "11/24/20",
						"type": "String"
					},
					{
						"name": "11/25/20",
						"type": "String"
					},
					{
						"name": "11/26/20",
						"type": "String"
					},
					{
						"name": "11/27/20",
						"type": "String"
					},
					{
						"name": "11/28/20",
						"type": "String"
					},
					{
						"name": "11/29/20",
						"type": "String"
					},
					{
						"name": "11/30/20",
						"type": "String"
					},
					{
						"name": "12/1/20",
						"type": "String"
					},
					{
						"name": "12/2/20",
						"type": "String"
					},
					{
						"name": "12/3/20",
						"type": "String"
					},
					{
						"name": "12/4/20",
						"type": "String"
					},
					{
						"name": "12/5/20",
						"type": "String"
					},
					{
						"name": "12/6/20",
						"type": "String"
					},
					{
						"name": "12/7/20",
						"type": "String"
					},
					{
						"name": "12/8/20",
						"type": "String"
					},
					{
						"name": "12/9/20",
						"type": "String"
					},
					{
						"name": "12/10/20",
						"type": "String"
					},
					{
						"name": "12/11/20",
						"type": "String"
					},
					{
						"name": "12/12/20",
						"type": "String"
					},
					{
						"name": "12/13/20",
						"type": "String"
					},
					{
						"name": "12/14/20",
						"type": "String"
					},
					{
						"name": "12/15/20",
						"type": "String"
					},
					{
						"name": "12/16/20",
						"type": "String"
					},
					{
						"name": "12/17/20",
						"type": "String"
					},
					{
						"name": "12/18/20",
						"type": "String"
					},
					{
						"name": "12/19/20",
						"type": "String"
					},
					{
						"name": "12/20/20",
						"type": "String"
					},
					{
						"name": "12/21/20",
						"type": "String"
					},
					{
						"name": "12/22/20",
						"type": "String"
					},
					{
						"name": "12/23/20",
						"type": "String"
					},
					{
						"name": "12/24/20",
						"type": "String"
					},
					{
						"name": "12/25/20",
						"type": "String"
					},
					{
						"name": "12/26/20",
						"type": "String"
					},
					{
						"name": "12/27/20",
						"type": "String"
					},
					{
						"name": "12/28/20",
						"type": "String"
					},
					{
						"name": "12/29/20",
						"type": "String"
					},
					{
						"name": "12/30/20",
						"type": "String"
					},
					{
						"name": "12/31/20",
						"type": "String"
					},
					{
						"name": "1/1/21",
						"type": "String"
					},
					{
						"name": "1/2/21",
						"type": "String"
					},
					{
						"name": "1/3/21",
						"type": "String"
					},
					{
						"name": "1/4/21",
						"type": "String"
					},
					{
						"name": "1/5/21",
						"type": "String"
					},
					{
						"name": "1/6/21",
						"type": "String"
					},
					{
						"name": "1/7/21",
						"type": "String"
					},
					{
						"name": "1/8/21",
						"type": "String"
					},
					{
						"name": "1/9/21",
						"type": "String"
					},
					{
						"name": "1/10/21",
						"type": "String"
					},
					{
						"name": "1/11/21",
						"type": "String"
					},
					{
						"name": "1/12/21",
						"type": "String"
					},
					{
						"name": "1/13/21",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataCovid')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_country')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataCovid",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "Data on country response measures to COVID-19.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Response_measure",
						"type": "String"
					},
					{
						"name": "date_start",
						"type": "String"
					},
					{
						"name": "date_end",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataCovid')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_dailysub')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataCovid",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "Data on the daily subnational 14-day notification rate of new COVID-19 cases.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "region_name",
						"type": "String"
					},
					{
						"name": "nuts_code",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "rate_14_day_per_100k",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataCovid')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_death')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataCovid",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "time_series_covid19_deaths_global.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Province/State",
						"type": "String"
					},
					{
						"name": "Country/Region",
						"type": "String"
					},
					{
						"name": "Lat",
						"type": "String"
					},
					{
						"name": "Long",
						"type": "String"
					},
					{
						"name": "1/22/20",
						"type": "String"
					},
					{
						"name": "1/23/20",
						"type": "String"
					},
					{
						"name": "1/24/20",
						"type": "String"
					},
					{
						"name": "1/25/20",
						"type": "String"
					},
					{
						"name": "1/26/20",
						"type": "String"
					},
					{
						"name": "1/27/20",
						"type": "String"
					},
					{
						"name": "1/28/20",
						"type": "String"
					},
					{
						"name": "1/29/20",
						"type": "String"
					},
					{
						"name": "1/30/20",
						"type": "String"
					},
					{
						"name": "1/31/20",
						"type": "String"
					},
					{
						"name": "2/1/20",
						"type": "String"
					},
					{
						"name": "2/2/20",
						"type": "String"
					},
					{
						"name": "2/3/20",
						"type": "String"
					},
					{
						"name": "2/4/20",
						"type": "String"
					},
					{
						"name": "2/5/20",
						"type": "String"
					},
					{
						"name": "2/6/20",
						"type": "String"
					},
					{
						"name": "2/7/20",
						"type": "String"
					},
					{
						"name": "2/8/20",
						"type": "String"
					},
					{
						"name": "2/9/20",
						"type": "String"
					},
					{
						"name": "2/10/20",
						"type": "String"
					},
					{
						"name": "2/11/20",
						"type": "String"
					},
					{
						"name": "2/12/20",
						"type": "String"
					},
					{
						"name": "2/13/20",
						"type": "String"
					},
					{
						"name": "2/14/20",
						"type": "String"
					},
					{
						"name": "2/15/20",
						"type": "String"
					},
					{
						"name": "2/16/20",
						"type": "String"
					},
					{
						"name": "2/17/20",
						"type": "String"
					},
					{
						"name": "2/18/20",
						"type": "String"
					},
					{
						"name": "2/19/20",
						"type": "String"
					},
					{
						"name": "2/20/20",
						"type": "String"
					},
					{
						"name": "2/21/20",
						"type": "String"
					},
					{
						"name": "2/22/20",
						"type": "String"
					},
					{
						"name": "2/23/20",
						"type": "String"
					},
					{
						"name": "2/24/20",
						"type": "String"
					},
					{
						"name": "2/25/20",
						"type": "String"
					},
					{
						"name": "2/26/20",
						"type": "String"
					},
					{
						"name": "2/27/20",
						"type": "String"
					},
					{
						"name": "2/28/20",
						"type": "String"
					},
					{
						"name": "2/29/20",
						"type": "String"
					},
					{
						"name": "3/1/20",
						"type": "String"
					},
					{
						"name": "3/2/20",
						"type": "String"
					},
					{
						"name": "3/3/20",
						"type": "String"
					},
					{
						"name": "3/4/20",
						"type": "String"
					},
					{
						"name": "3/5/20",
						"type": "String"
					},
					{
						"name": "3/6/20",
						"type": "String"
					},
					{
						"name": "3/7/20",
						"type": "String"
					},
					{
						"name": "3/8/20",
						"type": "String"
					},
					{
						"name": "3/9/20",
						"type": "String"
					},
					{
						"name": "3/10/20",
						"type": "String"
					},
					{
						"name": "3/11/20",
						"type": "String"
					},
					{
						"name": "3/12/20",
						"type": "String"
					},
					{
						"name": "3/13/20",
						"type": "String"
					},
					{
						"name": "3/14/20",
						"type": "String"
					},
					{
						"name": "3/15/20",
						"type": "String"
					},
					{
						"name": "3/16/20",
						"type": "String"
					},
					{
						"name": "3/17/20",
						"type": "String"
					},
					{
						"name": "3/18/20",
						"type": "String"
					},
					{
						"name": "3/19/20",
						"type": "String"
					},
					{
						"name": "3/20/20",
						"type": "String"
					},
					{
						"name": "3/21/20",
						"type": "String"
					},
					{
						"name": "3/22/20",
						"type": "String"
					},
					{
						"name": "3/23/20",
						"type": "String"
					},
					{
						"name": "3/24/20",
						"type": "String"
					},
					{
						"name": "3/25/20",
						"type": "String"
					},
					{
						"name": "3/26/20",
						"type": "String"
					},
					{
						"name": "3/27/20",
						"type": "String"
					},
					{
						"name": "3/28/20",
						"type": "String"
					},
					{
						"name": "3/29/20",
						"type": "String"
					},
					{
						"name": "3/30/20",
						"type": "String"
					},
					{
						"name": "3/31/20",
						"type": "String"
					},
					{
						"name": "4/1/20",
						"type": "String"
					},
					{
						"name": "4/2/20",
						"type": "String"
					},
					{
						"name": "4/3/20",
						"type": "String"
					},
					{
						"name": "4/4/20",
						"type": "String"
					},
					{
						"name": "4/5/20",
						"type": "String"
					},
					{
						"name": "4/6/20",
						"type": "String"
					},
					{
						"name": "4/7/20",
						"type": "String"
					},
					{
						"name": "4/8/20",
						"type": "String"
					},
					{
						"name": "4/9/20",
						"type": "String"
					},
					{
						"name": "4/10/20",
						"type": "String"
					},
					{
						"name": "4/11/20",
						"type": "String"
					},
					{
						"name": "4/12/20",
						"type": "String"
					},
					{
						"name": "4/13/20",
						"type": "String"
					},
					{
						"name": "4/14/20",
						"type": "String"
					},
					{
						"name": "4/15/20",
						"type": "String"
					},
					{
						"name": "4/16/20",
						"type": "String"
					},
					{
						"name": "4/17/20",
						"type": "String"
					},
					{
						"name": "4/18/20",
						"type": "String"
					},
					{
						"name": "4/19/20",
						"type": "String"
					},
					{
						"name": "4/20/20",
						"type": "String"
					},
					{
						"name": "4/21/20",
						"type": "String"
					},
					{
						"name": "4/22/20",
						"type": "String"
					},
					{
						"name": "4/23/20",
						"type": "String"
					},
					{
						"name": "4/24/20",
						"type": "String"
					},
					{
						"name": "4/25/20",
						"type": "String"
					},
					{
						"name": "4/26/20",
						"type": "String"
					},
					{
						"name": "4/27/20",
						"type": "String"
					},
					{
						"name": "4/28/20",
						"type": "String"
					},
					{
						"name": "4/29/20",
						"type": "String"
					},
					{
						"name": "4/30/20",
						"type": "String"
					},
					{
						"name": "5/1/20",
						"type": "String"
					},
					{
						"name": "5/2/20",
						"type": "String"
					},
					{
						"name": "5/3/20",
						"type": "String"
					},
					{
						"name": "5/4/20",
						"type": "String"
					},
					{
						"name": "5/5/20",
						"type": "String"
					},
					{
						"name": "5/6/20",
						"type": "String"
					},
					{
						"name": "5/7/20",
						"type": "String"
					},
					{
						"name": "5/8/20",
						"type": "String"
					},
					{
						"name": "5/9/20",
						"type": "String"
					},
					{
						"name": "5/10/20",
						"type": "String"
					},
					{
						"name": "5/11/20",
						"type": "String"
					},
					{
						"name": "5/12/20",
						"type": "String"
					},
					{
						"name": "5/13/20",
						"type": "String"
					},
					{
						"name": "5/14/20",
						"type": "String"
					},
					{
						"name": "5/15/20",
						"type": "String"
					},
					{
						"name": "5/16/20",
						"type": "String"
					},
					{
						"name": "5/17/20",
						"type": "String"
					},
					{
						"name": "5/18/20",
						"type": "String"
					},
					{
						"name": "5/19/20",
						"type": "String"
					},
					{
						"name": "5/20/20",
						"type": "String"
					},
					{
						"name": "5/21/20",
						"type": "String"
					},
					{
						"name": "5/22/20",
						"type": "String"
					},
					{
						"name": "5/23/20",
						"type": "String"
					},
					{
						"name": "5/24/20",
						"type": "String"
					},
					{
						"name": "5/25/20",
						"type": "String"
					},
					{
						"name": "5/26/20",
						"type": "String"
					},
					{
						"name": "5/27/20",
						"type": "String"
					},
					{
						"name": "5/28/20",
						"type": "String"
					},
					{
						"name": "5/29/20",
						"type": "String"
					},
					{
						"name": "5/30/20",
						"type": "String"
					},
					{
						"name": "5/31/20",
						"type": "String"
					},
					{
						"name": "6/1/20",
						"type": "String"
					},
					{
						"name": "6/2/20",
						"type": "String"
					},
					{
						"name": "6/3/20",
						"type": "String"
					},
					{
						"name": "6/4/20",
						"type": "String"
					},
					{
						"name": "6/5/20",
						"type": "String"
					},
					{
						"name": "6/6/20",
						"type": "String"
					},
					{
						"name": "6/7/20",
						"type": "String"
					},
					{
						"name": "6/8/20",
						"type": "String"
					},
					{
						"name": "6/9/20",
						"type": "String"
					},
					{
						"name": "6/10/20",
						"type": "String"
					},
					{
						"name": "6/11/20",
						"type": "String"
					},
					{
						"name": "6/12/20",
						"type": "String"
					},
					{
						"name": "6/13/20",
						"type": "String"
					},
					{
						"name": "6/14/20",
						"type": "String"
					},
					{
						"name": "6/15/20",
						"type": "String"
					},
					{
						"name": "6/16/20",
						"type": "String"
					},
					{
						"name": "6/17/20",
						"type": "String"
					},
					{
						"name": "6/18/20",
						"type": "String"
					},
					{
						"name": "6/19/20",
						"type": "String"
					},
					{
						"name": "6/20/20",
						"type": "String"
					},
					{
						"name": "6/21/20",
						"type": "String"
					},
					{
						"name": "6/22/20",
						"type": "String"
					},
					{
						"name": "6/23/20",
						"type": "String"
					},
					{
						"name": "6/24/20",
						"type": "String"
					},
					{
						"name": "6/25/20",
						"type": "String"
					},
					{
						"name": "6/26/20",
						"type": "String"
					},
					{
						"name": "6/27/20",
						"type": "String"
					},
					{
						"name": "6/28/20",
						"type": "String"
					},
					{
						"name": "6/29/20",
						"type": "String"
					},
					{
						"name": "6/30/20",
						"type": "String"
					},
					{
						"name": "7/1/20",
						"type": "String"
					},
					{
						"name": "7/2/20",
						"type": "String"
					},
					{
						"name": "7/3/20",
						"type": "String"
					},
					{
						"name": "7/4/20",
						"type": "String"
					},
					{
						"name": "7/5/20",
						"type": "String"
					},
					{
						"name": "7/6/20",
						"type": "String"
					},
					{
						"name": "7/7/20",
						"type": "String"
					},
					{
						"name": "7/8/20",
						"type": "String"
					},
					{
						"name": "7/9/20",
						"type": "String"
					},
					{
						"name": "7/10/20",
						"type": "String"
					},
					{
						"name": "7/11/20",
						"type": "String"
					},
					{
						"name": "7/12/20",
						"type": "String"
					},
					{
						"name": "7/13/20",
						"type": "String"
					},
					{
						"name": "7/14/20",
						"type": "String"
					},
					{
						"name": "7/15/20",
						"type": "String"
					},
					{
						"name": "7/16/20",
						"type": "String"
					},
					{
						"name": "7/17/20",
						"type": "String"
					},
					{
						"name": "7/18/20",
						"type": "String"
					},
					{
						"name": "7/19/20",
						"type": "String"
					},
					{
						"name": "7/20/20",
						"type": "String"
					},
					{
						"name": "7/21/20",
						"type": "String"
					},
					{
						"name": "7/22/20",
						"type": "String"
					},
					{
						"name": "7/23/20",
						"type": "String"
					},
					{
						"name": "7/24/20",
						"type": "String"
					},
					{
						"name": "7/25/20",
						"type": "String"
					},
					{
						"name": "7/26/20",
						"type": "String"
					},
					{
						"name": "7/27/20",
						"type": "String"
					},
					{
						"name": "7/28/20",
						"type": "String"
					},
					{
						"name": "7/29/20",
						"type": "String"
					},
					{
						"name": "7/30/20",
						"type": "String"
					},
					{
						"name": "7/31/20",
						"type": "String"
					},
					{
						"name": "8/1/20",
						"type": "String"
					},
					{
						"name": "8/2/20",
						"type": "String"
					},
					{
						"name": "8/3/20",
						"type": "String"
					},
					{
						"name": "8/4/20",
						"type": "String"
					},
					{
						"name": "8/5/20",
						"type": "String"
					},
					{
						"name": "8/6/20",
						"type": "String"
					},
					{
						"name": "8/7/20",
						"type": "String"
					},
					{
						"name": "8/8/20",
						"type": "String"
					},
					{
						"name": "8/9/20",
						"type": "String"
					},
					{
						"name": "8/10/20",
						"type": "String"
					},
					{
						"name": "8/11/20",
						"type": "String"
					},
					{
						"name": "8/12/20",
						"type": "String"
					},
					{
						"name": "8/13/20",
						"type": "String"
					},
					{
						"name": "8/14/20",
						"type": "String"
					},
					{
						"name": "8/15/20",
						"type": "String"
					},
					{
						"name": "8/16/20",
						"type": "String"
					},
					{
						"name": "8/17/20",
						"type": "String"
					},
					{
						"name": "8/18/20",
						"type": "String"
					},
					{
						"name": "8/19/20",
						"type": "String"
					},
					{
						"name": "8/20/20",
						"type": "String"
					},
					{
						"name": "8/21/20",
						"type": "String"
					},
					{
						"name": "8/22/20",
						"type": "String"
					},
					{
						"name": "8/23/20",
						"type": "String"
					},
					{
						"name": "8/24/20",
						"type": "String"
					},
					{
						"name": "8/25/20",
						"type": "String"
					},
					{
						"name": "8/26/20",
						"type": "String"
					},
					{
						"name": "8/27/20",
						"type": "String"
					},
					{
						"name": "8/28/20",
						"type": "String"
					},
					{
						"name": "8/29/20",
						"type": "String"
					},
					{
						"name": "8/30/20",
						"type": "String"
					},
					{
						"name": "8/31/20",
						"type": "String"
					},
					{
						"name": "9/1/20",
						"type": "String"
					},
					{
						"name": "9/2/20",
						"type": "String"
					},
					{
						"name": "9/3/20",
						"type": "String"
					},
					{
						"name": "9/4/20",
						"type": "String"
					},
					{
						"name": "9/5/20",
						"type": "String"
					},
					{
						"name": "9/6/20",
						"type": "String"
					},
					{
						"name": "9/7/20",
						"type": "String"
					},
					{
						"name": "9/8/20",
						"type": "String"
					},
					{
						"name": "9/9/20",
						"type": "String"
					},
					{
						"name": "9/10/20",
						"type": "String"
					},
					{
						"name": "9/11/20",
						"type": "String"
					},
					{
						"name": "9/12/20",
						"type": "String"
					},
					{
						"name": "9/13/20",
						"type": "String"
					},
					{
						"name": "9/14/20",
						"type": "String"
					},
					{
						"name": "9/15/20",
						"type": "String"
					},
					{
						"name": "9/16/20",
						"type": "String"
					},
					{
						"name": "9/17/20",
						"type": "String"
					},
					{
						"name": "9/18/20",
						"type": "String"
					},
					{
						"name": "9/19/20",
						"type": "String"
					},
					{
						"name": "9/20/20",
						"type": "String"
					},
					{
						"name": "9/21/20",
						"type": "String"
					},
					{
						"name": "9/22/20",
						"type": "String"
					},
					{
						"name": "9/23/20",
						"type": "String"
					},
					{
						"name": "9/24/20",
						"type": "String"
					},
					{
						"name": "9/25/20",
						"type": "String"
					},
					{
						"name": "9/26/20",
						"type": "String"
					},
					{
						"name": "9/27/20",
						"type": "String"
					},
					{
						"name": "9/28/20",
						"type": "String"
					},
					{
						"name": "9/29/20",
						"type": "String"
					},
					{
						"name": "9/30/20",
						"type": "String"
					},
					{
						"name": "10/1/20",
						"type": "String"
					},
					{
						"name": "10/2/20",
						"type": "String"
					},
					{
						"name": "10/3/20",
						"type": "String"
					},
					{
						"name": "10/4/20",
						"type": "String"
					},
					{
						"name": "10/5/20",
						"type": "String"
					},
					{
						"name": "10/6/20",
						"type": "String"
					},
					{
						"name": "10/7/20",
						"type": "String"
					},
					{
						"name": "10/8/20",
						"type": "String"
					},
					{
						"name": "10/9/20",
						"type": "String"
					},
					{
						"name": "10/10/20",
						"type": "String"
					},
					{
						"name": "10/11/20",
						"type": "String"
					},
					{
						"name": "10/12/20",
						"type": "String"
					},
					{
						"name": "10/13/20",
						"type": "String"
					},
					{
						"name": "10/14/20",
						"type": "String"
					},
					{
						"name": "10/15/20",
						"type": "String"
					},
					{
						"name": "10/16/20",
						"type": "String"
					},
					{
						"name": "10/17/20",
						"type": "String"
					},
					{
						"name": "10/18/20",
						"type": "String"
					},
					{
						"name": "10/19/20",
						"type": "String"
					},
					{
						"name": "10/20/20",
						"type": "String"
					},
					{
						"name": "10/21/20",
						"type": "String"
					},
					{
						"name": "10/22/20",
						"type": "String"
					},
					{
						"name": "10/23/20",
						"type": "String"
					},
					{
						"name": "10/24/20",
						"type": "String"
					},
					{
						"name": "10/25/20",
						"type": "String"
					},
					{
						"name": "10/26/20",
						"type": "String"
					},
					{
						"name": "10/27/20",
						"type": "String"
					},
					{
						"name": "10/28/20",
						"type": "String"
					},
					{
						"name": "10/29/20",
						"type": "String"
					},
					{
						"name": "10/30/20",
						"type": "String"
					},
					{
						"name": "10/31/20",
						"type": "String"
					},
					{
						"name": "11/1/20",
						"type": "String"
					},
					{
						"name": "11/2/20",
						"type": "String"
					},
					{
						"name": "11/3/20",
						"type": "String"
					},
					{
						"name": "11/4/20",
						"type": "String"
					},
					{
						"name": "11/5/20",
						"type": "String"
					},
					{
						"name": "11/6/20",
						"type": "String"
					},
					{
						"name": "11/7/20",
						"type": "String"
					},
					{
						"name": "11/8/20",
						"type": "String"
					},
					{
						"name": "11/9/20",
						"type": "String"
					},
					{
						"name": "11/10/20",
						"type": "String"
					},
					{
						"name": "11/11/20",
						"type": "String"
					},
					{
						"name": "11/12/20",
						"type": "String"
					},
					{
						"name": "11/13/20",
						"type": "String"
					},
					{
						"name": "11/14/20",
						"type": "String"
					},
					{
						"name": "11/15/20",
						"type": "String"
					},
					{
						"name": "11/16/20",
						"type": "String"
					},
					{
						"name": "11/17/20",
						"type": "String"
					},
					{
						"name": "11/18/20",
						"type": "String"
					},
					{
						"name": "11/19/20",
						"type": "String"
					},
					{
						"name": "11/20/20",
						"type": "String"
					},
					{
						"name": "11/21/20",
						"type": "String"
					},
					{
						"name": "11/22/20",
						"type": "String"
					},
					{
						"name": "11/23/20",
						"type": "String"
					},
					{
						"name": "11/24/20",
						"type": "String"
					},
					{
						"name": "11/25/20",
						"type": "String"
					},
					{
						"name": "11/26/20",
						"type": "String"
					},
					{
						"name": "11/27/20",
						"type": "String"
					},
					{
						"name": "11/28/20",
						"type": "String"
					},
					{
						"name": "11/29/20",
						"type": "String"
					},
					{
						"name": "11/30/20",
						"type": "String"
					},
					{
						"name": "12/1/20",
						"type": "String"
					},
					{
						"name": "12/2/20",
						"type": "String"
					},
					{
						"name": "12/3/20",
						"type": "String"
					},
					{
						"name": "12/4/20",
						"type": "String"
					},
					{
						"name": "12/5/20",
						"type": "String"
					},
					{
						"name": "12/6/20",
						"type": "String"
					},
					{
						"name": "12/7/20",
						"type": "String"
					},
					{
						"name": "12/8/20",
						"type": "String"
					},
					{
						"name": "12/9/20",
						"type": "String"
					},
					{
						"name": "12/10/20",
						"type": "String"
					},
					{
						"name": "12/11/20",
						"type": "String"
					},
					{
						"name": "12/12/20",
						"type": "String"
					},
					{
						"name": "12/13/20",
						"type": "String"
					},
					{
						"name": "12/14/20",
						"type": "String"
					},
					{
						"name": "12/15/20",
						"type": "String"
					},
					{
						"name": "12/16/20",
						"type": "String"
					},
					{
						"name": "12/17/20",
						"type": "String"
					},
					{
						"name": "12/18/20",
						"type": "String"
					},
					{
						"name": "12/19/20",
						"type": "String"
					},
					{
						"name": "12/20/20",
						"type": "String"
					},
					{
						"name": "12/21/20",
						"type": "String"
					},
					{
						"name": "12/22/20",
						"type": "String"
					},
					{
						"name": "12/23/20",
						"type": "String"
					},
					{
						"name": "12/24/20",
						"type": "String"
					},
					{
						"name": "12/25/20",
						"type": "String"
					},
					{
						"name": "12/26/20",
						"type": "String"
					},
					{
						"name": "12/27/20",
						"type": "String"
					},
					{
						"name": "12/28/20",
						"type": "String"
					},
					{
						"name": "12/29/20",
						"type": "String"
					},
					{
						"name": "12/30/20",
						"type": "String"
					},
					{
						"name": "12/31/20",
						"type": "String"
					},
					{
						"name": "1/1/21",
						"type": "String"
					},
					{
						"name": "1/2/21",
						"type": "String"
					},
					{
						"name": "1/3/21",
						"type": "String"
					},
					{
						"name": "1/4/21",
						"type": "String"
					},
					{
						"name": "1/5/21",
						"type": "String"
					},
					{
						"name": "1/6/21",
						"type": "String"
					},
					{
						"name": "1/7/21",
						"type": "String"
					},
					{
						"name": "1/8/21",
						"type": "String"
					},
					{
						"name": "1/9/21",
						"type": "String"
					},
					{
						"name": "1/10/21",
						"type": "String"
					},
					{
						"name": "1/11/21",
						"type": "String"
					},
					{
						"name": "1/12/21",
						"type": "String"
					},
					{
						"name": "1/13/21",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataCovid')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_hospital')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataCovid",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "Data on hospital and ICU admission rates and current occupancy for COVID-19.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "indicator",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "value",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					},
					{
						"name": "url",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataCovid')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_recovered')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataCovid",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "time_series_covid19_recovered_global.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Province/State",
						"type": "String"
					},
					{
						"name": "Country/Region",
						"type": "String"
					},
					{
						"name": "Lat",
						"type": "String"
					},
					{
						"name": "Long",
						"type": "String"
					},
					{
						"name": "1/22/20",
						"type": "String"
					},
					{
						"name": "1/23/20",
						"type": "String"
					},
					{
						"name": "1/24/20",
						"type": "String"
					},
					{
						"name": "1/25/20",
						"type": "String"
					},
					{
						"name": "1/26/20",
						"type": "String"
					},
					{
						"name": "1/27/20",
						"type": "String"
					},
					{
						"name": "1/28/20",
						"type": "String"
					},
					{
						"name": "1/29/20",
						"type": "String"
					},
					{
						"name": "1/30/20",
						"type": "String"
					},
					{
						"name": "1/31/20",
						"type": "String"
					},
					{
						"name": "2/1/20",
						"type": "String"
					},
					{
						"name": "2/2/20",
						"type": "String"
					},
					{
						"name": "2/3/20",
						"type": "String"
					},
					{
						"name": "2/4/20",
						"type": "String"
					},
					{
						"name": "2/5/20",
						"type": "String"
					},
					{
						"name": "2/6/20",
						"type": "String"
					},
					{
						"name": "2/7/20",
						"type": "String"
					},
					{
						"name": "2/8/20",
						"type": "String"
					},
					{
						"name": "2/9/20",
						"type": "String"
					},
					{
						"name": "2/10/20",
						"type": "String"
					},
					{
						"name": "2/11/20",
						"type": "String"
					},
					{
						"name": "2/12/20",
						"type": "String"
					},
					{
						"name": "2/13/20",
						"type": "String"
					},
					{
						"name": "2/14/20",
						"type": "String"
					},
					{
						"name": "2/15/20",
						"type": "String"
					},
					{
						"name": "2/16/20",
						"type": "String"
					},
					{
						"name": "2/17/20",
						"type": "String"
					},
					{
						"name": "2/18/20",
						"type": "String"
					},
					{
						"name": "2/19/20",
						"type": "String"
					},
					{
						"name": "2/20/20",
						"type": "String"
					},
					{
						"name": "2/21/20",
						"type": "String"
					},
					{
						"name": "2/22/20",
						"type": "String"
					},
					{
						"name": "2/23/20",
						"type": "String"
					},
					{
						"name": "2/24/20",
						"type": "String"
					},
					{
						"name": "2/25/20",
						"type": "String"
					},
					{
						"name": "2/26/20",
						"type": "String"
					},
					{
						"name": "2/27/20",
						"type": "String"
					},
					{
						"name": "2/28/20",
						"type": "String"
					},
					{
						"name": "2/29/20",
						"type": "String"
					},
					{
						"name": "3/1/20",
						"type": "String"
					},
					{
						"name": "3/2/20",
						"type": "String"
					},
					{
						"name": "3/3/20",
						"type": "String"
					},
					{
						"name": "3/4/20",
						"type": "String"
					},
					{
						"name": "3/5/20",
						"type": "String"
					},
					{
						"name": "3/6/20",
						"type": "String"
					},
					{
						"name": "3/7/20",
						"type": "String"
					},
					{
						"name": "3/8/20",
						"type": "String"
					},
					{
						"name": "3/9/20",
						"type": "String"
					},
					{
						"name": "3/10/20",
						"type": "String"
					},
					{
						"name": "3/11/20",
						"type": "String"
					},
					{
						"name": "3/12/20",
						"type": "String"
					},
					{
						"name": "3/13/20",
						"type": "String"
					},
					{
						"name": "3/14/20",
						"type": "String"
					},
					{
						"name": "3/15/20",
						"type": "String"
					},
					{
						"name": "3/16/20",
						"type": "String"
					},
					{
						"name": "3/17/20",
						"type": "String"
					},
					{
						"name": "3/18/20",
						"type": "String"
					},
					{
						"name": "3/19/20",
						"type": "String"
					},
					{
						"name": "3/20/20",
						"type": "String"
					},
					{
						"name": "3/21/20",
						"type": "String"
					},
					{
						"name": "3/22/20",
						"type": "String"
					},
					{
						"name": "3/23/20",
						"type": "String"
					},
					{
						"name": "3/24/20",
						"type": "String"
					},
					{
						"name": "3/25/20",
						"type": "String"
					},
					{
						"name": "3/26/20",
						"type": "String"
					},
					{
						"name": "3/27/20",
						"type": "String"
					},
					{
						"name": "3/28/20",
						"type": "String"
					},
					{
						"name": "3/29/20",
						"type": "String"
					},
					{
						"name": "3/30/20",
						"type": "String"
					},
					{
						"name": "3/31/20",
						"type": "String"
					},
					{
						"name": "4/1/20",
						"type": "String"
					},
					{
						"name": "4/2/20",
						"type": "String"
					},
					{
						"name": "4/3/20",
						"type": "String"
					},
					{
						"name": "4/4/20",
						"type": "String"
					},
					{
						"name": "4/5/20",
						"type": "String"
					},
					{
						"name": "4/6/20",
						"type": "String"
					},
					{
						"name": "4/7/20",
						"type": "String"
					},
					{
						"name": "4/8/20",
						"type": "String"
					},
					{
						"name": "4/9/20",
						"type": "String"
					},
					{
						"name": "4/10/20",
						"type": "String"
					},
					{
						"name": "4/11/20",
						"type": "String"
					},
					{
						"name": "4/12/20",
						"type": "String"
					},
					{
						"name": "4/13/20",
						"type": "String"
					},
					{
						"name": "4/14/20",
						"type": "String"
					},
					{
						"name": "4/15/20",
						"type": "String"
					},
					{
						"name": "4/16/20",
						"type": "String"
					},
					{
						"name": "4/17/20",
						"type": "String"
					},
					{
						"name": "4/18/20",
						"type": "String"
					},
					{
						"name": "4/19/20",
						"type": "String"
					},
					{
						"name": "4/20/20",
						"type": "String"
					},
					{
						"name": "4/21/20",
						"type": "String"
					},
					{
						"name": "4/22/20",
						"type": "String"
					},
					{
						"name": "4/23/20",
						"type": "String"
					},
					{
						"name": "4/24/20",
						"type": "String"
					},
					{
						"name": "4/25/20",
						"type": "String"
					},
					{
						"name": "4/26/20",
						"type": "String"
					},
					{
						"name": "4/27/20",
						"type": "String"
					},
					{
						"name": "4/28/20",
						"type": "String"
					},
					{
						"name": "4/29/20",
						"type": "String"
					},
					{
						"name": "4/30/20",
						"type": "String"
					},
					{
						"name": "5/1/20",
						"type": "String"
					},
					{
						"name": "5/2/20",
						"type": "String"
					},
					{
						"name": "5/3/20",
						"type": "String"
					},
					{
						"name": "5/4/20",
						"type": "String"
					},
					{
						"name": "5/5/20",
						"type": "String"
					},
					{
						"name": "5/6/20",
						"type": "String"
					},
					{
						"name": "5/7/20",
						"type": "String"
					},
					{
						"name": "5/8/20",
						"type": "String"
					},
					{
						"name": "5/9/20",
						"type": "String"
					},
					{
						"name": "5/10/20",
						"type": "String"
					},
					{
						"name": "5/11/20",
						"type": "String"
					},
					{
						"name": "5/12/20",
						"type": "String"
					},
					{
						"name": "5/13/20",
						"type": "String"
					},
					{
						"name": "5/14/20",
						"type": "String"
					},
					{
						"name": "5/15/20",
						"type": "String"
					},
					{
						"name": "5/16/20",
						"type": "String"
					},
					{
						"name": "5/17/20",
						"type": "String"
					},
					{
						"name": "5/18/20",
						"type": "String"
					},
					{
						"name": "5/19/20",
						"type": "String"
					},
					{
						"name": "5/20/20",
						"type": "String"
					},
					{
						"name": "5/21/20",
						"type": "String"
					},
					{
						"name": "5/22/20",
						"type": "String"
					},
					{
						"name": "5/23/20",
						"type": "String"
					},
					{
						"name": "5/24/20",
						"type": "String"
					},
					{
						"name": "5/25/20",
						"type": "String"
					},
					{
						"name": "5/26/20",
						"type": "String"
					},
					{
						"name": "5/27/20",
						"type": "String"
					},
					{
						"name": "5/28/20",
						"type": "String"
					},
					{
						"name": "5/29/20",
						"type": "String"
					},
					{
						"name": "5/30/20",
						"type": "String"
					},
					{
						"name": "5/31/20",
						"type": "String"
					},
					{
						"name": "6/1/20",
						"type": "String"
					},
					{
						"name": "6/2/20",
						"type": "String"
					},
					{
						"name": "6/3/20",
						"type": "String"
					},
					{
						"name": "6/4/20",
						"type": "String"
					},
					{
						"name": "6/5/20",
						"type": "String"
					},
					{
						"name": "6/6/20",
						"type": "String"
					},
					{
						"name": "6/7/20",
						"type": "String"
					},
					{
						"name": "6/8/20",
						"type": "String"
					},
					{
						"name": "6/9/20",
						"type": "String"
					},
					{
						"name": "6/10/20",
						"type": "String"
					},
					{
						"name": "6/11/20",
						"type": "String"
					},
					{
						"name": "6/12/20",
						"type": "String"
					},
					{
						"name": "6/13/20",
						"type": "String"
					},
					{
						"name": "6/14/20",
						"type": "String"
					},
					{
						"name": "6/15/20",
						"type": "String"
					},
					{
						"name": "6/16/20",
						"type": "String"
					},
					{
						"name": "6/17/20",
						"type": "String"
					},
					{
						"name": "6/18/20",
						"type": "String"
					},
					{
						"name": "6/19/20",
						"type": "String"
					},
					{
						"name": "6/20/20",
						"type": "String"
					},
					{
						"name": "6/21/20",
						"type": "String"
					},
					{
						"name": "6/22/20",
						"type": "String"
					},
					{
						"name": "6/23/20",
						"type": "String"
					},
					{
						"name": "6/24/20",
						"type": "String"
					},
					{
						"name": "6/25/20",
						"type": "String"
					},
					{
						"name": "6/26/20",
						"type": "String"
					},
					{
						"name": "6/27/20",
						"type": "String"
					},
					{
						"name": "6/28/20",
						"type": "String"
					},
					{
						"name": "6/29/20",
						"type": "String"
					},
					{
						"name": "6/30/20",
						"type": "String"
					},
					{
						"name": "7/1/20",
						"type": "String"
					},
					{
						"name": "7/2/20",
						"type": "String"
					},
					{
						"name": "7/3/20",
						"type": "String"
					},
					{
						"name": "7/4/20",
						"type": "String"
					},
					{
						"name": "7/5/20",
						"type": "String"
					},
					{
						"name": "7/6/20",
						"type": "String"
					},
					{
						"name": "7/7/20",
						"type": "String"
					},
					{
						"name": "7/8/20",
						"type": "String"
					},
					{
						"name": "7/9/20",
						"type": "String"
					},
					{
						"name": "7/10/20",
						"type": "String"
					},
					{
						"name": "7/11/20",
						"type": "String"
					},
					{
						"name": "7/12/20",
						"type": "String"
					},
					{
						"name": "7/13/20",
						"type": "String"
					},
					{
						"name": "7/14/20",
						"type": "String"
					},
					{
						"name": "7/15/20",
						"type": "String"
					},
					{
						"name": "7/16/20",
						"type": "String"
					},
					{
						"name": "7/17/20",
						"type": "String"
					},
					{
						"name": "7/18/20",
						"type": "String"
					},
					{
						"name": "7/19/20",
						"type": "String"
					},
					{
						"name": "7/20/20",
						"type": "String"
					},
					{
						"name": "7/21/20",
						"type": "String"
					},
					{
						"name": "7/22/20",
						"type": "String"
					},
					{
						"name": "7/23/20",
						"type": "String"
					},
					{
						"name": "7/24/20",
						"type": "String"
					},
					{
						"name": "7/25/20",
						"type": "String"
					},
					{
						"name": "7/26/20",
						"type": "String"
					},
					{
						"name": "7/27/20",
						"type": "String"
					},
					{
						"name": "7/28/20",
						"type": "String"
					},
					{
						"name": "7/29/20",
						"type": "String"
					},
					{
						"name": "7/30/20",
						"type": "String"
					},
					{
						"name": "7/31/20",
						"type": "String"
					},
					{
						"name": "8/1/20",
						"type": "String"
					},
					{
						"name": "8/2/20",
						"type": "String"
					},
					{
						"name": "8/3/20",
						"type": "String"
					},
					{
						"name": "8/4/20",
						"type": "String"
					},
					{
						"name": "8/5/20",
						"type": "String"
					},
					{
						"name": "8/6/20",
						"type": "String"
					},
					{
						"name": "8/7/20",
						"type": "String"
					},
					{
						"name": "8/8/20",
						"type": "String"
					},
					{
						"name": "8/9/20",
						"type": "String"
					},
					{
						"name": "8/10/20",
						"type": "String"
					},
					{
						"name": "8/11/20",
						"type": "String"
					},
					{
						"name": "8/12/20",
						"type": "String"
					},
					{
						"name": "8/13/20",
						"type": "String"
					},
					{
						"name": "8/14/20",
						"type": "String"
					},
					{
						"name": "8/15/20",
						"type": "String"
					},
					{
						"name": "8/16/20",
						"type": "String"
					},
					{
						"name": "8/17/20",
						"type": "String"
					},
					{
						"name": "8/18/20",
						"type": "String"
					},
					{
						"name": "8/19/20",
						"type": "String"
					},
					{
						"name": "8/20/20",
						"type": "String"
					},
					{
						"name": "8/21/20",
						"type": "String"
					},
					{
						"name": "8/22/20",
						"type": "String"
					},
					{
						"name": "8/23/20",
						"type": "String"
					},
					{
						"name": "8/24/20",
						"type": "String"
					},
					{
						"name": "8/25/20",
						"type": "String"
					},
					{
						"name": "8/26/20",
						"type": "String"
					},
					{
						"name": "8/27/20",
						"type": "String"
					},
					{
						"name": "8/28/20",
						"type": "String"
					},
					{
						"name": "8/29/20",
						"type": "String"
					},
					{
						"name": "8/30/20",
						"type": "String"
					},
					{
						"name": "8/31/20",
						"type": "String"
					},
					{
						"name": "9/1/20",
						"type": "String"
					},
					{
						"name": "9/2/20",
						"type": "String"
					},
					{
						"name": "9/3/20",
						"type": "String"
					},
					{
						"name": "9/4/20",
						"type": "String"
					},
					{
						"name": "9/5/20",
						"type": "String"
					},
					{
						"name": "9/6/20",
						"type": "String"
					},
					{
						"name": "9/7/20",
						"type": "String"
					},
					{
						"name": "9/8/20",
						"type": "String"
					},
					{
						"name": "9/9/20",
						"type": "String"
					},
					{
						"name": "9/10/20",
						"type": "String"
					},
					{
						"name": "9/11/20",
						"type": "String"
					},
					{
						"name": "9/12/20",
						"type": "String"
					},
					{
						"name": "9/13/20",
						"type": "String"
					},
					{
						"name": "9/14/20",
						"type": "String"
					},
					{
						"name": "9/15/20",
						"type": "String"
					},
					{
						"name": "9/16/20",
						"type": "String"
					},
					{
						"name": "9/17/20",
						"type": "String"
					},
					{
						"name": "9/18/20",
						"type": "String"
					},
					{
						"name": "9/19/20",
						"type": "String"
					},
					{
						"name": "9/20/20",
						"type": "String"
					},
					{
						"name": "9/21/20",
						"type": "String"
					},
					{
						"name": "9/22/20",
						"type": "String"
					},
					{
						"name": "9/23/20",
						"type": "String"
					},
					{
						"name": "9/24/20",
						"type": "String"
					},
					{
						"name": "9/25/20",
						"type": "String"
					},
					{
						"name": "9/26/20",
						"type": "String"
					},
					{
						"name": "9/27/20",
						"type": "String"
					},
					{
						"name": "9/28/20",
						"type": "String"
					},
					{
						"name": "9/29/20",
						"type": "String"
					},
					{
						"name": "9/30/20",
						"type": "String"
					},
					{
						"name": "10/1/20",
						"type": "String"
					},
					{
						"name": "10/2/20",
						"type": "String"
					},
					{
						"name": "10/3/20",
						"type": "String"
					},
					{
						"name": "10/4/20",
						"type": "String"
					},
					{
						"name": "10/5/20",
						"type": "String"
					},
					{
						"name": "10/6/20",
						"type": "String"
					},
					{
						"name": "10/7/20",
						"type": "String"
					},
					{
						"name": "10/8/20",
						"type": "String"
					},
					{
						"name": "10/9/20",
						"type": "String"
					},
					{
						"name": "10/10/20",
						"type": "String"
					},
					{
						"name": "10/11/20",
						"type": "String"
					},
					{
						"name": "10/12/20",
						"type": "String"
					},
					{
						"name": "10/13/20",
						"type": "String"
					},
					{
						"name": "10/14/20",
						"type": "String"
					},
					{
						"name": "10/15/20",
						"type": "String"
					},
					{
						"name": "10/16/20",
						"type": "String"
					},
					{
						"name": "10/17/20",
						"type": "String"
					},
					{
						"name": "10/18/20",
						"type": "String"
					},
					{
						"name": "10/19/20",
						"type": "String"
					},
					{
						"name": "10/20/20",
						"type": "String"
					},
					{
						"name": "10/21/20",
						"type": "String"
					},
					{
						"name": "10/22/20",
						"type": "String"
					},
					{
						"name": "10/23/20",
						"type": "String"
					},
					{
						"name": "10/24/20",
						"type": "String"
					},
					{
						"name": "10/25/20",
						"type": "String"
					},
					{
						"name": "10/26/20",
						"type": "String"
					},
					{
						"name": "10/27/20",
						"type": "String"
					},
					{
						"name": "10/28/20",
						"type": "String"
					},
					{
						"name": "10/29/20",
						"type": "String"
					},
					{
						"name": "10/30/20",
						"type": "String"
					},
					{
						"name": "10/31/20",
						"type": "String"
					},
					{
						"name": "11/1/20",
						"type": "String"
					},
					{
						"name": "11/2/20",
						"type": "String"
					},
					{
						"name": "11/3/20",
						"type": "String"
					},
					{
						"name": "11/4/20",
						"type": "String"
					},
					{
						"name": "11/5/20",
						"type": "String"
					},
					{
						"name": "11/6/20",
						"type": "String"
					},
					{
						"name": "11/7/20",
						"type": "String"
					},
					{
						"name": "11/8/20",
						"type": "String"
					},
					{
						"name": "11/9/20",
						"type": "String"
					},
					{
						"name": "11/10/20",
						"type": "String"
					},
					{
						"name": "11/11/20",
						"type": "String"
					},
					{
						"name": "11/12/20",
						"type": "String"
					},
					{
						"name": "11/13/20",
						"type": "String"
					},
					{
						"name": "11/14/20",
						"type": "String"
					},
					{
						"name": "11/15/20",
						"type": "String"
					},
					{
						"name": "11/16/20",
						"type": "String"
					},
					{
						"name": "11/17/20",
						"type": "String"
					},
					{
						"name": "11/18/20",
						"type": "String"
					},
					{
						"name": "11/19/20",
						"type": "String"
					},
					{
						"name": "11/20/20",
						"type": "String"
					},
					{
						"name": "11/21/20",
						"type": "String"
					},
					{
						"name": "11/22/20",
						"type": "String"
					},
					{
						"name": "11/23/20",
						"type": "String"
					},
					{
						"name": "11/24/20",
						"type": "String"
					},
					{
						"name": "11/25/20",
						"type": "String"
					},
					{
						"name": "11/26/20",
						"type": "String"
					},
					{
						"name": "11/27/20",
						"type": "String"
					},
					{
						"name": "11/28/20",
						"type": "String"
					},
					{
						"name": "11/29/20",
						"type": "String"
					},
					{
						"name": "11/30/20",
						"type": "String"
					},
					{
						"name": "12/1/20",
						"type": "String"
					},
					{
						"name": "12/2/20",
						"type": "String"
					},
					{
						"name": "12/3/20",
						"type": "String"
					},
					{
						"name": "12/4/20",
						"type": "String"
					},
					{
						"name": "12/5/20",
						"type": "String"
					},
					{
						"name": "12/6/20",
						"type": "String"
					},
					{
						"name": "12/7/20",
						"type": "String"
					},
					{
						"name": "12/8/20",
						"type": "String"
					},
					{
						"name": "12/9/20",
						"type": "String"
					},
					{
						"name": "12/10/20",
						"type": "String"
					},
					{
						"name": "12/11/20",
						"type": "String"
					},
					{
						"name": "12/12/20",
						"type": "String"
					},
					{
						"name": "12/13/20",
						"type": "String"
					},
					{
						"name": "12/14/20",
						"type": "String"
					},
					{
						"name": "12/15/20",
						"type": "String"
					},
					{
						"name": "12/16/20",
						"type": "String"
					},
					{
						"name": "12/17/20",
						"type": "String"
					},
					{
						"name": "12/18/20",
						"type": "String"
					},
					{
						"name": "12/19/20",
						"type": "String"
					},
					{
						"name": "12/20/20",
						"type": "String"
					},
					{
						"name": "12/21/20",
						"type": "String"
					},
					{
						"name": "12/22/20",
						"type": "String"
					},
					{
						"name": "12/23/20",
						"type": "String"
					},
					{
						"name": "12/24/20",
						"type": "String"
					},
					{
						"name": "12/25/20",
						"type": "String"
					},
					{
						"name": "12/26/20",
						"type": "String"
					},
					{
						"name": "12/27/20",
						"type": "String"
					},
					{
						"name": "12/28/20",
						"type": "String"
					},
					{
						"name": "12/29/20",
						"type": "String"
					},
					{
						"name": "12/30/20",
						"type": "String"
					},
					{
						"name": "12/31/20",
						"type": "String"
					},
					{
						"name": "1/1/21",
						"type": "String"
					},
					{
						"name": "1/2/21",
						"type": "String"
					},
					{
						"name": "1/3/21",
						"type": "String"
					},
					{
						"name": "1/4/21",
						"type": "String"
					},
					{
						"name": "1/5/21",
						"type": "String"
					},
					{
						"name": "1/6/21",
						"type": "String"
					},
					{
						"name": "1/7/21",
						"type": "String"
					},
					{
						"name": "1/8/21",
						"type": "String"
					},
					{
						"name": "1/9/21",
						"type": "String"
					},
					{
						"name": "1/10/21",
						"type": "String"
					},
					{
						"name": "1/11/21",
						"type": "String"
					},
					{
						"name": "1/12/21",
						"type": "String"
					},
					{
						"name": "1/13/21",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataCovid')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_testing')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataCovid",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "source"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "Data on testing for COVID-19 by week and country.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "country_code",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "new_cases",
						"type": "String"
					},
					{
						"name": "tests_done",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					},
					{
						"name": "testing_rate",
						"type": "String"
					},
					{
						"name": "positivity_rate",
						"type": "String"
					},
					{
						"name": "testing_data_source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataCovid')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataingestion1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy dailysub",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "region_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region_name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "nuts_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "nuts_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rate_14_day_per_100k",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rate_14_day_per_100k",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_dailysub",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dest_dailysub",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy country",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy dailysub",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Response_measure",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Response_measure",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_start",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_start",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_end",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_end",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_country",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dest_country",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy age",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy country",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "age_group",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "age_group",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rate_14_day_per_100k",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rate_14_day_per_100k",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_age",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dest_age",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy testing",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy age",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tests_done",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tests_done",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "testing_rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "testing_rate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "positivity_rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "positivity_rate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "testing_data_source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "testing_data_source",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_testing",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dest_testing",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy hospital",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy testing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "indicator",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "indicator",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "value",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "url",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "url",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_hospital",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dest_hospital",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_dailysub')]",
				"[concat(variables('factoryId'), '/datasets/dest_dailysub')]",
				"[concat(variables('factoryId'), '/datasets/src_country')]",
				"[concat(variables('factoryId'), '/datasets/dest_country')]",
				"[concat(variables('factoryId'), '/datasets/src_age')]",
				"[concat(variables('factoryId'), '/datasets/dest_age')]",
				"[concat(variables('factoryId'), '/datasets/src_testing')]",
				"[concat(variables('factoryId'), '/datasets/dest_testing')]",
				"[concat(variables('factoryId'), '/datasets/src_hospital')]",
				"[concat(variables('factoryId'), '/datasets/dest_hospital')]"
			]
		}
	]
}